/* Font Size
   ------------------------------------------------------------------ */


/* My Custom Style
   ------------------------------------------------------------------ */

.boxFullWidth{width:100%;}

.padding-tb10{padding:10px 0;}
.padding-tb20{padding:20px 0;}
.padding-tb30{padding:30px 0;}
.padding-tb40{padding:40px 0;}
.padding-tb50{padding:50px 0;}
